@model List<(int,String)>

<h2>Products</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Actions</th>
    </tr>
@foreach ((int, string) product in Model)
{
    int itemId = @product.Item1;
    string itemName = @product.Item2;
    <tr>
        <td>@itemId</td>
        <td>@itemName</td>
        <td>
            <form asp-action="CreateOrder" asp-controller="Common" method=post>
            <input type="hidden" name="itemId" value="@itemId" />
            <input type="text"class="form-control" name="quantity" required />
            <button type="submit" class="btn btn-primary">buy</button>
            </form>
        </td>
    </tr>
}
</table>
@if(ViewBag.Message != null){   
    <p>@ViewBag.Message</p>
}